{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center my-4">Wishlists</h1>
        {% if wishlists %}
    <div class="row">
        {% for wishlist in wishlists %}
        <div class="col-md-4 col-lg-3">
            <div class="card bg-dark text-white movie-card">
                <img src="{{ wishlist.movie.image.url }}" class="card-img-top" alt="{{ wishlist.movie.title }}">
                <div class="card-body card-overlay">
                    <h5 class="card-title">{{ wishlist.movie.title }}</h5>
                </div>
            </div>
        </div>
        {% empty %}
            <li class="list-group-item">Your wishlist is empty.</li>
        {% endfor %}
    </div>
        {% endif %}
    </ul>
</div>
{% endblock %}
