{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-warning">My Wishlist</h2>
    <ul class="list-group">
        {% if wishlists %}
        {% for wishlist in wishlists %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="text-red-200">{{ wishlist.movie.title }} 
                    <p><b>Description:</b>{{wishlist.movie.description}}</p>
                </span>
            </li>
        {% empty %}
            <li class="list-group-item">Your wishlist is empty.</li>
        {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}
